* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: eac2c4
}



/* color pallette:
grey-blue: c6d1d5
brown-grey: 514e50
purple: 927085
pink: eac2c4
green: a9baaa*/