* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    background-color: #dadbe0;
}

nav {
    position:sticky;
    top: 0;
}

.header {
    padding: 10px 16px;
    color: #dadbe0;
    background: #072235;
}

.p {
    padding: 16px;
    color: #072235;
}

.laptop-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80);
}


/* color pallette:
grey-blue: c6d1d5
brown-grey: 514e50
purple: 927085
pink: eac2c4
green: a9baaa*/