* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    background-color: #fff;
}

a {
    cursor: pointer;
}

.header {
    padding: 10px;
    color: #475774;
    background: #9ec9cc;
}

.header a {
    color: #475774;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 4%;
    font-size: 25px;
}

.header h1 {
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-flex;
    background-color: aqua;
    z-index: 10;
}

/*.header h1::before {
    content: "";
    left: -50vw; /* adjust the value to cover the desired area *//*
    width: 51%;
    height: 58px;
    background-color: aqua;
    z-index: 1;
}*/

.laptop-image {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    background-image: url(https://64.media.tumblr.com/2dd1338a4ac70402fee7307e8d1a2248/3355988fa0239f07-66/s2048x3072/5b867746f356ee748543a00880ef10d320cd0966.pnj);
}

section {
    height: 10%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 130%;
    color: #475774;
    background-color: #fff;
    float: center;
    width: 90%;
    margin: 2%;
    display: inline-flex;
}

.sections section h2 {
    font-size: 50px;
    display: inline-flex;
    padding-right: 5%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sections section p, images, section div ul {
    border-left: 6px solid #475774;
    height: 100%;
    padding: 5%;
}

section div ul li {
    display: inline-flex;
}

section div ul li {
    text-decoration: underline;
    text-underline-offset: 50%;
    padding-left: 5%;
    font-size: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #475774;
}

section images img {
    height: 100%;
    width: 30vw;
    cursor: pointer;
}

section images div img {
    height: 100%;
    width: 60vw;
    cursor: pointer;
}

section images img:hover {
    height: 100%;
    width: 30vw;
    overflow: hidden;
    object-fit: fill;
    opacity: 0.4;
    transition: .5s ease;
}

section images div img:hover {
    height: 100%;
    width: 60vw;
    overflow: hidden;
    object-fit: fill;
    opacity: 0.4;
    transition: .5s ease;
}


/* color palette:
blue: #9ec9cc
navy: #475774
*/