* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    background-color: #fff;
}

.header {
    padding: 10px 16px;
    color: #072235;
    background: #9ec9cc;
}

.header h1 {
    display: inline;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif
}

.header div {
    float: right;
}

.header div ul li {
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-right: 2%;
}

.laptop-image {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    background-image: url(https://64.media.tumblr.com/2dd1338a4ac70402fee7307e8d1a2248/3355988fa0239f07-66/s2048x3072/5b867746f356ee748543a00880ef10d320cd0966.pnj);
}

section {
    height: 10%;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
    color: #072235;
    background-color: #fff;
    float: center;
    width: 90%;
    margin: 2%;
    display: inline-flex;
}

.sections section h2 {
    font-size: 50px;
    display: inline-flex;
    padding-right: 5%;
}

section div ul li {
    display: inline-flex;
}

section div ul li {
    text-decoration: underline;
    text-underline-offset: 50%;
    padding-left: 5%;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #072235;
}


/* color palette:
blue: #9ec9cc
navy: #072235
*/